.row
  .col-sm-6
    %h2.page-title
      Theme Settings

  .col-sm-6
    = render 'themes/sub_nav', theme: @theme

= simple_form_for @theme do |form|
  .panel.panel-default
    .panel-body
      .row
        .col-sm-12
          = form.error_notification

          = form.input :name, label: 'Title', placeholder: 'Theme Title...', required: false

          = form.input :description, label: 'Description', label_html: {class: 'spacer'}, input_html: {class: 'theme-description'}, placeholder: 'Give a brief description of the theme...'

  

  .row
    .col-sm-6
      %h2.page-title
        Setting Groups

    .col-sm-6
      = link_to_add_association form, :setting_groups, class: 'btn btn-default sub-nav-link', :'data-association-insertion-node' => '#setting_groups', :'data-association-insertion-method' => 'prepend', partial: 'setting_groups/fields_settings' do
        %i.fa.fa-plus-circle
        Add Setting Group

  .row#setting_groups
    = form.simple_fields_for :setting_groups do |setting_group|
      = render 'setting_groups/fields_settings', f: setting_group

      
      



  .actions
    %button.btn.btn-default
      %i.fa.fa-refresh
      Update Theme & Settings