!!!
%html
  %head
    %title Inspector

    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    %link{href: "http://fonts.googleapis.com/css?family=Lobster|Roboto:400,300,500,700,900", rel: "stylesheet", type: "text/css"}

    = stylesheet_link_tag "application", media: "all"

    = csrf_meta_tags

  %body{:class => body_classes}
    %header
      %h1.logo
        = link_to 'Skypager', root_path

      - if current_user
        = link_to 'Sign Out', signout_path, class: 'btn btn-default login-button'
          

      - else
        = link_to "Sign in with Dropbox", '/auth/dropbox_oauth2', class: 'btn btn-default login-button'


    .container
      = yield


    = javascript_include_tag 'application'

    - if content_for? :scripts
      = yield :scripts

    = custom_bootstrap_flash